node_modules

#le dossier images ne doit pas être visible sur GitHub
/images

#le fichier .env  contenant les données sensibles ne devrait pas être visible sur GitHub
#pour ce projet je n'ai volontairement pas caché ses données
