node_modules

#le dossier images ne doit pas être visible sur GitHub
#ici j'ai utilisé un repo Git privé afin de laisser le dossier images visible

#le fichier .env  contenant les données sensibles ne devrait pas être visible sur GitHub
#ici j'ai utilisé un repo Git privé afin de laisser le dossier .env visible
